### Husprist√§vling Grupp 5

In [1]:
import pandas as pd

In [2]:
# Load the data
df = pd.read_csv('housing.csv')

In [3]:
# Inspect columns
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [4]:
# Unique values per column
unique_values = df.nunique()
print(unique_values)

longitude               844
latitude                862
housing_median_age       52
total_rooms            5926
total_bedrooms         1923
population             3888
households             1815
median_income         12928
median_house_value     3842
ocean_proximity           5
dtype: int64

In [5]:
# Look at head
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

Not sure what some columns mean honestly. The way I see it we have a coordinate(longitude and latitude). That coordinate and some area around it has houses with people in them and it is some distance to a body of water(ocean_proximity).
How big this area is might be implicit by how close the surrounding coordinates are. housing_median_age gives the median age for houses in the area, median_house_value gives the median value for houses in the area, median_income gives the median income of the residents living in the houses in the area.
total_bedrooms are the sum of how many bedrooms the houses have. Population is how many people live in them. 
The definition of a household is the unit of people living in a house, so it's assumed households is just that. That means that households is the number of houses in the area.

### My initial speculation as to what to do with the data is 
ocean_proximity: one-hot encode
longitude&latitude: make composit feature?
normalize all numerical feature columns (median_income, median_income, households, population, total_bedrooms, total_rooms, housing_median_age)

#### Use household to create features, maybe replacing the original summed columns?
total_rooms / households
total_bedrooms / households
population / households
if every area is not the same size, households might be something to drop once this is done